*{
    margin: 0;
    padding: 0;
}
/* ------------------ */
.positioning-1 h2 {
    margin: 2%;
}

.positioning-1 .container {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.positioning-1 .container .absolute-container, .relative-container {
    width: 40%;
    padding: 2%;
}

.positioning-1 .container span {
    font-weight: bold;
}

.positioning-1 .example {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.positioning-1 .example .relative-example .first_element { 
    position: relative; 
    left: 30px; 
    top: 70px; 
    width: 200px; 
    height: 200px; 
    background-color: #fafafa; 
    border: solid 3px #ff7347; 
    font-size: 24px; 
    text-align: center; 
}

.positioning-1 .example .relative-example .second_element { 
    position: relative; 
    width: 200px;
    height: 200px;  
    background-color: #fafafa; 
    border: solid 3px #ff7347; 
    font-size: 24px; 
    text-align: center; 
}

.positioning-1 .example .absolute-example .parent { 
    position: relative; 
    width: 400px; 
    height: 400px; 
    background-color: #fafafa; 
    border: solid 3px #9e70ba; 
    font-size: 24px; 
    text-align: center; 
} 

.positioning-1 .example .absolute-example .child { 
    position: absolute; 
    right: 40px; 
    top: 100px; 
    width: 200px; 
    height: 200px; 
    background-color: #fafafa; 
    border: solid 3px #78e382; 
    font-size: 24px; 
    text-align: center; 
}
/* ------------------ */
.positioning-2 h2 {
    margin: 2%;
}

.positioning-2 table {
    font-size: 18px;
    width: 85%;
    
    margin: 0 auto;
    border-collapse: collapse;
}

.positioning-2 table tr th,td {
    padding: 10px;
}
/* ------------------ */
.floating h2 {
    margin: 2%;
}

.floating .floating-container {
    width: 80%;
    height: 520px;
    margin: 0 auto;
}

.floating .floating-container .box {
    color: white;
    width: 150px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating .floating-container .box-1 {
    background-color: red;
    float: left;
}
.floating .floating-container .box-2 {
    background-color: green;
    float: right;
    clear: left;
}
.floating .floating-container .box-3 {
    background-color: blue;
    float: left;
    clear: right;
}
.floating .floating-container .box-4 {
    background-color: purple;
    float: right;
    clear: left;
}
.floating .floating-container .box-5 {
    background-color: orange;
    float: left;
    clear: both;
}

/* ------------------ */
.animation {
    width: 100%;
    height: 450px;
}

.animation h2 {
    margin: 2%;
}

.animation .ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    position: relative;
    animation-name: jumping-ball;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* ------------------ */
.media-query h2 {
    margin: 2%;
}

.media-query .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.media-query .card {
    background-color: orange; 
    width: 200px;
    height: 250px;
    margin: 2%;
}

/* ------------------ */
.indexing h2 {
    margin: 2%;
}

.indexing .indexing-container {
    width: 30%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.indexing .indexing-container .box {
    border: 1px solid black;
}

.indexing .indexing-container .box-1 {
    width: 170px;
    height: 170px;
    background-image: linear-gradient(to right top, #5d8bf4, #ab7adf, #d86bbd, #ed6594, #ef6d6d);
    position: absolute;
    z-index: 3;
}

.indexing .indexing-container .box-2 {
    width: 250px;
    height: 250px;
    position: absolute;
    background-image: linear-gradient(to right top, #f1d00a, #a9ce3d, #6bc366, #35b384, #219f94);
    z-index: 2;
}

.indexing .indexing-container .box-3 {
    width: 325px;
    height: 325px;
    background-image: linear-gradient(to left bottom, #9c0f48, #b04c38, #b27c3c, #aca85f, #a6cf98);
    z-index: 1;
}

/* ------------------ */
.sizing h2 {
    margin: 2%;
}
.sizing .sizing-container h3 {
    margin: 2%;
}
.sizing .sizing-container .square {
    color: white;
    width: 300px;
    height: 250px;
    clear: right;
    font-size: 20px;
    margin: 20px;
    border: 5px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sizing .sizing-container .square-1 {
    background-image: radial-gradient(circle, #f8485e, #ca256b, #93176f, #551767, #091353);
    box-sizing: border-box;
}

.sizing .sizing-container .square-2 {
    background-image: linear-gradient(to left bottom, #009dae, #007ba1, #00598f, #003775, #091353);
    box-sizing: content-box;
}

@keyframes jumping-ball{
    0%{
        top: 300px;
    }

    100%{
        top: 0px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .media-query .container {
        flex-direction: column;
    }
}